@charset "utf-8";

.btn-panel {
	height:120px;
	width:160px;
	margin: 5px;
	cursor: pointer;
}

.font-title{
	font-size:18px;
	font-weight:bold;
}

.container-fluid.contents .entrance{
	padding-top:20%;
}

.container-fluid.contents .entrance .inner{
	padding:0 10%;
}

.entrance .row-fluid.search-input{min-height:55px;}

.entrance .input-append{
	margin-bottom:0;
}
.entrance .input-append.option1{
	padding:0;
}
.entrance .breadcrumb{
	margin-bottom:0;display:inline;
	background:none;
	padding:3px 0;
}

.entrance .search-button {margin-top:20px;}

.entrance .search-button p{
	margin:5px 0 0;
}

.entrance .search-button .btn-success{
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0c8b44;
	*background-color: #0c8b44;
	background-image: linear-gradient(to bottom, #0C8B44, #51A351);
	background-repeat: repeat-x;
	border:0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74cd00', endColorstr='#ff69a41b', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	padding:12px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.entrance .search-button .btn-success:hover,
.entrance .search-button .btn-success:focus,
.entrance .search-button .btn-success:active,
.entrance .search-button .btn-success.active,
.entrance .search-button .btn-success.disabled,
.entrance .search-button .btn-success[disabled] {
	background-color: #78BB1D;
	*background-color: #78BB1D;
}

.entrance .search-button .btn-success:active,
.entrance .search-button .btn-success.active {
	background-color: #78BB1D \9;
}

.entrance .search-button .btn-success.active{
	color: rgba(255, 255, 255, 0.75);
}
.entrance .search-button .btn.btn-success:hover,
.entrance .search-button .btn.btn-success:focus,
.entrance .search-button .btn.btn-success.disabled:hover,
.entrance .search-button .btn.btn-success[disabled]:hover,
.entrance .search-button .btn.btn-success.disabled:focus,
.entrance .search-button .btn.btn-success[disabled]:focus{
	background-position:0 0;
	opacity:0.9;
	filter: alpha(opacity=90);
}

.entrance .search-button .btn.btn-success.disabled,
.entrance .search-button .btn.btn-success[disabled],
.entrance .search-button .btn.btn-success.disabled:hover,
.entrance .search-button .btn.btn-success[disabled]:hover,
.entrance .search-button .btn.btn-success.disabled:focus,
.entrance .search-button .btn.btn-success[disabled]:focus{opacity:0.55;filter: alpha(opacity=55);}

